$primary: purple;
$table-hover-color: #f9fbfc;
$link-color: #18a0fb;
$link-hover-color: #eab03b;
$popup-hover-color: #149651;
$popup-bkgrnd-color: #dee6ef;
$shadow-color: rgba(0, 0, 0, .5);
$shadow-color-25: rgba(0, 0, 0, .25);
$shadow-color-10: rgba(0, 0, 0, .10);
$actions-menu-border-color: #e8e8e8;
$info-column-width: 30px;

$inputs-border-color: #7396ba;
$regular-border-color: #689ac0;
$status-done-icon-color: #1ea494;
$status-progress-icon-color: #db7c00;
$autocomplete-value-border-color: #b0c7de;

$focus-color: #18a0fb;
$dark-focus-color: #22134e;
$error-text-color: #a94442;
$strong-warning-red: #eb0011;

$breadcrumb-divider: quote(">");